<!-- <app-ng-if></app-ng-if>
<hr />
<app-ng-style></app-ng-style>
<hr />
<app-simple-guessing-game></app-simple-guessing-game>
<hr /> -->
<!-- <app-ng-class></app-ng-class>

<app-ng-for></app-ng-for> -->

<!-- <app-parent></app-parent> -->

<app-parent-emitter></app-parent-emitter>

<!-- <app-sales-dashboard></app-sales-dashboard> -->

<!-- <app-local-reference></app-local-reference>

<hr /> -->

<!-- <app-view-child></app-view-child> -->

<!-- <hr /> -->

<!-- <section style="border: 1.7px solid black; background-color: lightgrey;" class="m-3 p-1">
  <app-ng-content>
    <h1>This was created/projected using ng-content (from inside ng-conent.component.html).</h1>
  </app-ng-content>
</section>

<div style="border: 1px solid black; border-radius: 15px; background-color: mediumaquamarine;" class="p-3 m-3">
  <app-ng-content>
    <h3>Something else from ng-content!!!</h3>
  </app-ng-content>
</div>

<div style="border: 1px solid black; border-radius: 15px; background-color: mediumaquamarine;" class="p-3 m-3">
  <app-ng-content>
    <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/everglades-nights-mark-andrew-thomas.jpg" alt="everglades image" class="img-thumbnail" [ngStyle]="{maxWidth: '10%', maxHeight: 'auto', display: 'inline-block'}" #viewngcontent/>
  </app-ng-content>
</div>

<ng-content></ng-content>

<app-view-child></app-view-child>
<app-local-reference-view-child></app-local-reference-view-child>


 -->
