 <h3 basicAppHighlight>basicAppHighlight.</h3>
 <h3 appBetterHighlightDirective>betterHighlightDirective</h3>
 <h3 appRendererI >appRenderer-I</h3>

 <div>
  <h3 appHostListener>appHostListener.</h3>
 </div>

 <div>
  <h3 appListener>appListener.</h3>
 </div>

<!-- ***** UNLESS DIRECTIVE ***** -->
 <div *appUnless="renderAppUnless">
  <h3><span style="color: crimson">appUnless</span> has rendered!!!</h3>
 </div>
 <button (click)="renderAppUnless = !renderAppUnless">Change renderAppUnless to {{renderAppUnless}}.</button>
<!-- **************************** -->

<!-- ********* set-i ********* -->
 <div *addGreeting="defaultName">
    <h1>Default name set to {{defaultName}}!!!</h1>
 </div>
 <button (click)="defaultName = defaultName == 'Jamie' ? '' : 'Jamie'">CHANGE DEFAULT NAME TO {{defaultName == 'Jamie' ? 'No Name' : 'Jamie'}}!!!</button>
<!-- ************************* -->

 <div [ngSwitch]="value">
  <h5 *ngSwitchCase="3" >3</h5>
  <h5 *ngSwitchCase="6" >6</h5>
  <!-- <h5 *ngSwitchCase="9" >9</h5> -->
  <h5 *ngSwitchDefault>DEFAULT.</h5>
 </div>

 <ng-template [ngIf] = false>
    <h1>ng-template has rendered.</h1>
 </ng-template>

 <!----- BIND STYLE DIRECTIVE ------>
 <div>
    <h1 appBindStyle>bind-style-directive (appBindStyle).</h1>
 </div>
 <!--------------------------------->




